.link {
    color: white;
    font-size: 16px;
    font-family: istok;
    text-decoration: none;

    height: 40px;

    display: flex;
    align-items: center;

    padding: 0 25px;

    border-radius: 20px;
}

.linkIsActive {
    background-color: #101720;
    transition-duration: 0.3s;
}
