.card {
    width: 180px;
    height: 180px;
    row-gap: 10px;
    border-radius: 10px;

    border: thin solid #485a7a;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(to bottom, #3c4e6d, #7497d3);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.metric {
    font-size: 74px;
    font-weight: bold;
    font-family: inter;

    color: white;
    text-shadow: 0px 0px 5px white;
}

.legend {
    font-size: 20px;
    font-weight: bold;
    font-family: inter;

    color: white;
}

.icon {
    width: 120px;
    height: auto;
}
