.section {
    width: 100%;
    min-height: 100vh;

    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cardLogo {
    width: 180px;
    height: 180px;

    border-radius: 10px;

    border: thin solid #485a7a;
    background-color: rgba(60, 78, 109, 0.5);
    backdrop-filter: blur(8px);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    & > img {
        width: 120px;
        height: 120px;
    }
}

.contentWrapper {
    max-width: 500px;

    display: flex;
    row-gap: 30px;
    flex-direction: column;
}

.title {
    color: white;
    font-size: 52px;
    font-family: interBold;
}

.description {
    color: white;
    font-size: 18px;
    line-height: 30px;
    font-family: inter;
    letter-spacing: 1px;
    font-weight: lighter;
}

.actionWrapper {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > p {
        color: white;
        font-size: 18px;
        font-family: inter;
    }
}

@media screen and (width <= 900px) {
    .section {
        flex-direction: column-reverse;
        row-gap: 40px;
    }

    .contentWrapper {
        width: 100%;
        max-width: none;

        padding-left: 30px;
        padding-right: 30px;
    }

    .actionWrapper {
        column-gap: 40px;
        justify-content: flex-start;

        row-gap: 30px;
        flex-direction: column;
    }
}
