---
// Assets
import phoneIcon from "../assets/svg/phone-icon.svg"

// Styles from components folder.
import styles from "../styles/components/mainbutton.module.scss"
---

<button class = { styles.button }>
    <p class = { styles.label }>contáctanos</p>
    <div class = { styles.container }>
        <img src = { phoneIcon.src } alt="phone icon">
    </div>
</button>