---
// Components
import MainButton from "../components/MainButton.astro";

// Assets
import image from "../assets/svg/home-image.svg";

// Styles from sections folder.
import styles from "../styles/sections/inicio.module.scss"

// Astro props
const { id } = Astro.props
---

<section id = { id } class = { styles.section }>
    <div class = { styles.content }>
        <h2 class = { styles.title }>Distribuidor de software</h2>
        <p class = { styles.description }>
            <span>Digipay</span> es una compañía especializada en la distribución de software para bancos y terminales de pago. Ofrecemos soluciones innovadoras y seguras que optimizan procesos financieros y facilitan la transformación digital en el sector.
        </p>
        <MainButton/>
    </div>
    <div class = { styles.imageWrapper }>
        <img class = { styles.image } src = { image.src } alt = "package image" >
        <div class = { styles.circle }></div>
    </div>
</section>